<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Chatting Application</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.2/css/bootstrap.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
    <style>
      body {
        background-color: #f8f9fa;
      }

      .chat-header {
        background-color: #6c757d;
        color: #fff;
        padding: 15px;
        text-align: center;
      }

      .chat-container {
        max-width: 800px;
        margin: 0 auto;
        padding: 20px;
        background-color: #fff;
        border-radius: 5px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      }

      .username-input {
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
        margin-top: 5px;
      }

      .message-input {
        display: flex;
        justify-content: center;
        margin-top: 20px;
      }

    </style>
  </head>

  <body>
    <div class="container">
      <div class="chat-container">
        <div class="chat-header">
          <h1>Secret Chat</h1>
        </div>

        <div id="change_username" class="username-input">
          <div class="input-group">
            <input id="username" type="text" class="form-control" placeholder="Enter username" />
            <button id="send_username" type="button" class="btn btn-primary">Change username</button>
          </div>
        </div>

        <div id="chatroom">
          <div id="feedback"></div>
        </div>

        <div class="input-group">
          <input id="message" type="text" class="form-control" placeholder="Type your message" />
          <div class="input-group-addon">
            <label for="file" class="btn">
              <i data-feather="paperclip"></i>
            </label>
          </div>
          <input id="file" type="file" class="form-control" style="display: none;" />
          <div class="btn" id="send_button">
            <i data-feather="send"></i>
          </div> 
        </div>
      </div>
    </div>

    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.js"></script>
    <script>
      feather.replace()
    </script>

    <script src="chat.js"></script>
  </body>
</html>
